* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.display-none {
    display: none;
}

/* DEFAULTS */

body {
    max-width: 1024px;
    margin: 0 auto;
    font-family: "Smythe", system-ui;
    background-color: whitesmoke;
}

header,
main {
    background-color: whitesmoke;

}

/* HEADER */

header {
    background-image: url("./images/hamburger.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    height: 168px;
    padding: 2.5rem 3rem;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
}

header p {
    font-size: 22px;
    font-weight: 400;
}

/* MAIN */

main {
    position: relative;
}

/* MAIN - MENU CONTAINER */

.menu-container {
    padding: 0 6rem;
}

.menu-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    padding: 3rem 0;
}

.emoji-info-wrapper {
    display: flex;
    align-items: center;
}

.item-emoji {
    font-size: 4rem;
    margin-right: 1rem;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.item-name {
    font-size: 1.5rem;
    font-weight: 400;
}

.item-ingredients {
    font-size: 1.2rem;
    font-weight: 400;
    color: #888;
}

.price {
    font-size: 1.25rem;
    font-weight: 400;
}

.btn-add {
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #888;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-add:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

/* MAIN - ORDER SUMMARY */

.order-summary-container {
    display: none;
    padding: 3rem 6rem;
}

.order-summary-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.order-items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.order-btn-price-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-remove {
    border: none;
    font-size: 0.75rem;
    color: #888;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: whitesmoke;
}

.btn-remove:hover {
    outline: 1px solid #555;
    cursor: pointer;
}

.total-price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.divider {
    display: inline-block;
    border: 1px solid #000;
    width: 100%;
    margin: 0.5rem 0;
}

.total-price {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.btn-checkout {
    width: 100%;
    height: 60px;
    background-color: #16DB99;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}

.btn-checkout:hover {
    background-color: #12b880;
    cursor: pointer;
}

/* PAYMENT MODAL */

.payment-modal {
    display: none;
    position: fixed;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 524px;
    height: 542px;
    padding: 3rem;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0 0 200px;
}

.payment-modal-title {
    font-size: 24px;
    margin-bottom: 3rem;
}

.payment-form input {
    width: 100%;
    height: 72px;
    padding: 0 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border: 1px solid #888;
    border-radius: 3px;
}

.btn-pay {
    width: 100%;
    height: 72px;
    margin-top: 1rem;
    font-size: 1.25rem;
    color: whitesmoke;
    border: none;
    background-color: #16DB99;
}

.btn-pay:hover {
    background-color: #12b880;
    cursor: pointer
}

/* THANK YOU MESSAGE */

.thank-you {
    /* display: none; */
    background-color: #ECFDF5;
    padding: 3rem 6rem;
    color: #065F46;
    font-size: 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 3px;
}